.nav-container {
  display: flex;
  padding: 10px 30px 100px 30px;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-button {
  background-color: #7F384A;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  touch-action: manipulation;
  transition: 0.3s;       
}
.nav-button:hover,
.nav-button:focus {
  background-color: #532530;
}

.nav-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: 600;
  color: #7F384A;
}

.title-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10% 10px 10%;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: 600;
}
.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #393939
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.proj-sub-conatiner {
  display: flex;
  flex-direction: column;
  padding: 100px;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
}
.mini-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  padding-top: 20px;
  text-align: center;
}
.mini-title:hover {
  text-decoration: none;
}
.mini-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #393939;
  text-decoration: none;
}
.mini-subtitle:hover {
  text-decoration: none;
}
.proj-preview-img {
  width: 250px;
  height: 250px;
  border: 1px solid #000000;
}